@model Biblioteca.Restaurant

@if (Model != null)
{
    <h1>@Model.restaurante</h1>
    <hr>
    <h2>@Model.domicilio</h2>
    <h2>@Model.email</h2>
    <hr>
<h3>Menu</h3>
@if (Model.Platos != null && Model.Platos.Any())
{
    foreach (var plato in Model.Platos)
    {
        <div>
            <h4>
                <a asp-controller="Plato" asp-action="ObtenerDetallePlato" asp-route-id="@plato.id">
                    @plato.plato
                </a>
            </h4>
        </div>
    }
}
else
{
    <p>No hay platos disponibles.</p>
}

}
else
{
    <h1>Restaurant no encontrado.</h1>
}